[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
echo = "*"
click = "*"
pyinstaller = "*"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
